In [1]:
import pandas as pd
import geopandas as gpd
import folium
import re

In [2]:
# read data
service_requests = pd.read_csv('311_Service_Requests_from_2010_to_Present_20241030.csv')
service_requests

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,62900248,10/29/2024 01:31:21 AM,NaN,DSNY,Department of Sanitation,Dirty Condition,Trash,Sidewalk,10304.0,107 JEFFERSON STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.589356,-74.098797,"(40.58935556020951, -74.0987970975816)"
1,62905132,10/29/2024 01:29:53 AM,NaN,DSNY,Department of Sanitation,Illegal Dumping,Removal Request,Sidewalk,11216.0,HERKIMER COURT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.679436,-73.945916,"(40.67943630625516, -73.94591629206633)"
2,62908431,10/29/2024 01:21:39 AM,NaN,DSNY,Department of Sanitation,Illegal Dumping,Removal Request,Sidewalk,11106.0,33-19 36 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.755739,-73.927922,"(40.75573902415911, -73.92792248943132)"
3,62900208,10/29/2024 12:32:21 AM,NaN,DSNY,Department of Sanitation,Dirty Condition,Trash,Sidewalk,11238.0,571 CLASSON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.681215,-73.958469,"(40.68121464543949, -73.95846898014925)"
4,62906798,10/28/2024 11:49:16 PM,NaN,DSNY,Department of Sanitation,Dirty Condition,Trash,Sidewalk,11365.0,195-60 PECK AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.741678,-73.779302,"(40.74167815705963, -73.7793020085076)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259175,51937180,09/21/2021 08:21:29 PM,09/21/2021 10:55:10 PM,DSNY,Department of Sanitation,Dirty Condition,Debris from Car Accident,Street,10038.0,375 PEARL STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.710303,-74.001053,"(40.71030295032086, -74.00105324675815)"
259176,55208756,05/04/2021 03:50:33 PM,05/06/2021 10:18:29 AM,DSNY,Department of Sanitation,Dirty Condition,Dog Waste,Sidewalk,11436.0,145 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.684859,-73.798982,"(40.684859049707526, -73.79898217069032)"
259177,51952779,06/13/2019 08:51:00 AM,NaN,DSNY,Department of Sanitation,Dirty Condition,Dog Waste,Sidewalk,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259178,51949799,06/12/2019 05:16:00 PM,NaN,DSNY,Department of Sanitation,Dirty Condition,Poster or Sign,Sidewalk,11212.0,1737 EAST NEW YORK AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.675273,-73.904176,"(40.67527273859748, -73.9041760277674)"
259179,51956705,06/12/2019 02:45:00 PM,NaN,DSNY,Department of Sanitation,Dirty Condition,Dog Waste,Sidewalk,10001.0,210 11 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.749860,-74.006291,"(40.74986019680036, -74.00629075067376)"

In [3]:
# drop unnecessary rows
service_requests = service_requests.drop(['Vehicle Type', 'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
                       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment', 'Closed Date'], axis = 1)

In [4]:
#sort trash by zip code
trash_in_zip_code = pd.DataFrame(service_requests.groupby('Incident Zip').size().sort_values(ascending=False)).reset_index()
trash_in_zip_code = trash_in_zip_code.rename(columns={0: 'Service Calls'})
trash_in_zip_code

     Incident Zip  Service Calls
0         11207.0           5143
1         11385.0           4137
2         11220.0           4045
3         10312.0           3978
4         11208.0           3888
..            ...            ...
209       10174.0              1
210       11241.0              1
211       11359.0              1
212       10167.0              1
213       10173.0              1

[214 rows x 2 columns]

In [5]:
# load another dataset on population density
nyc_population_neighborhood = pd.read_csv('9ff6db90-ee94-4113-a0ed-40b4b9ab75cd.csv')
nyc_population_neighborhood

,_id,zip,borough,post_office,neighborhood,population,density
0,1,10001,Manhattan,"New York, NY",Chelsea and Clinton,21102,33959
1,2,10002,Manhattan,"New York, NY",Lower East Side,81410,92573
2,3,10003,Manhattan,"New York, NY",Lower East Side,56024,97188
3,4,10004,Manhattan,"New York, NY",Lower Manhattan,3089,5519
4,5,10005,Manhattan,"New York, NY",Lower Manhattan,7135,97048
...,...,...,...,...,...,...,...
172,173,11691,Queens,"Far Rockaway, NY",Rockaways,60035,21185
173,174,11692,Queens,"Arverne, NY",Rockaways,18540,18566
174,175,11693,Queens,"Far Rockaway, NY",Rockaways,11916,11950
175,176,11694,Queens,"Rockaway Park, NY",Rockaways,20408,14944
176,177,11697,Queens,"Breezy Point, NY",Rockaways,4079,1838

In [6]:
#merge two datasets
nyc_population_neighborhood_copy = nyc_population_neighborhood.drop(['_id', 'post_office', 'borough'], axis=1)
service_request_neighborhood = service_requests.merge(nyc_population_neighborhood_copy, left_on = 'Incident Zip',
                                                      right_on = 'zip')
map_data = service_request_neighborhood.groupby('neighborhood').size().reset_index()
map_data
service_request_neighborhood

,Unique Key,Created Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,...,Open Data Channel Type,Park Facility Name,Park Borough,Latitude,Longitude,Location,zip,neighborhood,population,density
0,62900248,10/29/2024 01:31:21 AM,DSNY,Department of Sanitation,Dirty Condition,Trash,Sidewalk,10304.0,107 JEFFERSON STREET,JEFFERSON STREET,...,ONLINE,Unspecified,STATEN ISLAND,40.589356,-74.098797,"(40.58935556020951, -74.0987970975816)",10304,Stapleton and St. George,42193,10889
1,62905132,10/29/2024 01:29:53 AM,DSNY,Department of Sanitation,Illegal Dumping,Removal Request,Sidewalk,11216.0,HERKIMER COURT,HERKIMER COURT,...,PHONE,Unspecified,BROOKLYN,40.679436,-73.945916,"(40.67943630625516, -73.94591629206633)",11216,Central Brooklyn,54316,58065
2,62908431,10/29/2024 01:21:39 AM,DSNY,Department of Sanitation,Illegal Dumping,Removal Request,Sidewalk,11106.0,33-19 36 AVENUE,36 AVENUE,...,MOBILE,Unspecified,QUEENS,40.755739,-73.927922,"(40.75573902415911, -73.92792248943132)",11106,Northwest Queens,38875,45359
3,62900208,10/29/2024 12:32:21 AM,DSNY,Department of Sanitation,Dirty Condition,Trash,Sidewalk,11238.0,571 CLASSON AVENUE,CLASSON AVENUE,...,MOBILE,Unspecified,BROOKLYN,40.681215,-73.958469,"(40.68121464543949, -73.95846898014925)",11238,Central Brooklyn,49262,44555
4,62906798,10/28/2024 11:49:16 PM,DSNY,Department of Sanitation,Dirty Condition,Trash,Sidewalk,11365.0,195-60 PECK AVENUE,PECK AVENUE,...,MOBILE,Unspecified,QUEENS,40.741678,-73.779302,"(40.74167815705963, -73.7793020085076)",11365,Central Queens,42252,16923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257423,51944741,09/21/2021 10:26:19 PM,DSNY,Department of Sanitation,Illegal Dumping,Removal Request,Street,10451.0,213 EAST 144 STREET,EAST 144 STREET,...,PHONE,Unspecified,BRONX,40.815988,-73.926091,"(40.81598751657329, -73.92609060847884)",10451,High Bridge and Morrisania,45713,45043
257424,51937180,09/21/2021 08:21:29 PM,DSNY,Department of Sanitation,Dirty Condition,Debris from Car Accident,Street,10038.0,375 PEARL STREET,PEARL STREET,...,ONLINE,Unspecified,MANHATTAN,40.710303,-74.001053,"(40.71030295032086, -74.00105324675815)",10038,Lower Manhattan,20300,68214
257425,55208756,05/04/2021 03:50:33 PM,DSNY,Department of Sanitation,Dirty Condition,Dog Waste,Sidewalk,11436.0,145 STREET,145 STREET,...,PHONE,Unspecified,QUEENS,40.684859,-73.798982,"(40.684859049707526, -73.79898217069032)",11436,Jamaica,17949,22783
257426,51949799,06/12/2019 05:16:00 PM,DSNY,Department of Sanitation,Dirty Condition,Poster or Sign,Sidewalk,11212.0,1737 EAST NEW YORK AVENUE,EAST NEW YORK AVENUE,...,UNKNOWN,Unspecified,BROOKLYN,40.675273,-73.904176,"(40.67527273859748, -73.9041760277674)",11212,Central Brooklyn,84500,54944
257427,51956705,06/12/2019 02:45:00 PM,DSNY,Department of Sanitation,Dirty Condition,Dog Waste,Sidewalk,10001.0,210 11 AVENUE,11 AVENUE,...,UNKNOWN,Unspecified,MANHATTAN,40.749860,-74.006291,"(40.74986019680036, -74.00629075067376)",10001,Chelsea and Clinton,21102,33959

In [7]:
zip_spatial_data = pd.read_csv('Modified_Zip_Code_Tabulation_Areas__MODZCTA_.csv')
zip_spatial_neighborhood = zip_spatial_data.merge(trash_in_zip_code, left_on = 'MODZCTA', right_on='Incident Zip')
zip_spatial_neighborhood

,MODZCTA,label,ZCTA,pop_est,the_geom,Incident Zip,Service Calls
0,10001,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...,10001.0,1151
1,10002,10002,10002,74993,MULTIPOLYGON (((-73.99750380833868 40.71407144...,10002.0,1947
2,10003,10003,10003,54682,MULTIPOLYGON (((-73.98863576728334 40.72293099...,10003.0,2482
3,10026,10026,10026,39363,MULTIPOLYGON (((-73.96200720826798 40.80550908...,10026.0,1628
4,10004,10004,10004,3028,MULTIPOLYGON (((-74.00826694529984 40.70771979...,10004.0,97
...,...,...,...,...,...,...,...
172,11433,11433,"11433, 11451",36489,MULTIPOLYGON (((-73.79437143341872 40.68691219...,11433.0,2154
173,11434,11434,"11430, 11434",65989,MULTIPOLYGON (((-73.75460907012868 40.64719952...,11434.0,2032
174,11435,11435,11435,59296,MULTIPOLYGON (((-73.8057700022681 40.682930109...,11435.0,2128
175,11694,11694,11694,21354,MULTIPOLYGON (((-73.86495602260939 40.56663006...,11694.0,289
176,11697,11697,11697,3540,MULTIPOLYGON (((-73.86288509369598 40.57605877...,11697.0,11

<h1>Route Optimization</h1>
In the previous section, I have these datasets: trash_in_zip_code, nyc_population_neighborhood, Now I want to start finding the optimal route in NYC for trash cleanups. 
______________________________________________________________________________________________________________________________

In [8]:
#Turn neighborhood data into spatial data
df = pd.read_csv('Modified_Zip_Code_Tabulation_Areas__MODZCTA_.csv')

gdf = gpd.GeoDataFrame(df, geometry=gpd.GeoSeries.from_wkt(df['the_geom']))

gdf.head()

gdf['centroid'] = gdf.geometry.centroid
gdf['latitude'] = gdf['centroid'].y
gdf['longitude'] = gdf['centroid'].x

gdf[['MODZCTA', 'latitude', 'longitude']].head()

   MODZCTA   latitude  longitude
0    10001  40.750688 -73.997138
1    10002  40.715780 -73.986174
2    10003  40.731826 -73.989159
3    10026  40.802382 -73.952672
4    10004  40.703747 -74.013032

Now we have a bunch of neighborhoods, we want to focus on one neighborhood with the highest density of trash, then try to see if we can find trash data by street in that particular neighborhood.

In [38]:
#neighborhood with the most trash: Borough Park 
borough_park = service_request_neighborhood[service_request_neighborhood['neighborhood'] == 'Borough Park']
bp_street_data = pd.DataFrame(borough_park.groupby('Street Name').size().sort_values(ascending = False).reset_index())
bp_street_data = bp_street_data.rename(columns={0: 'Service Calls Count'})
number_words = {
    "FIRST": 1, "SECOND": 2, "THIRD": 3, "FOURTH": 4, "FIFTH": 5, "SIXTH": 6, "SEVENTH": 7, "EIGHTH": 8,
    "NINTH": 9, "TENTH": 10, "ELEVENTH": 11, "TWELFTH": 12, "THIRTEENTH": 13, "FOURTEENTH": 14, "FIFTEENTH": 15,
    "SIXTEENTH": 16, "SEVENTEENTH": 17, "EIGHTEENTH": 18, "NINETEENTH": 19, "TWENTIETH": 20
}

def add_ordinal_suffix(street_name):
    # First, replace number words with their numeric equivalents
    words = street_name.split()
    for i, word in enumerate(words):
        if word.upper() in number_words:
            number = number_words[word.upper()]
            words[i] = str(number)
    
    # Rebuild the street name after converting words to numbers
    street_name = " ".join(words)
    
    # This regex will match numbers and add ordinal suffix
    match = re.match(r"^(EAST|WEST|NORTH|SOUTH)?\s*(\d+)\s*(.+)", street_name, re.IGNORECASE)
    if match:
        prefix = match.group(1) if match.group(1) else ""
        number = int(match.group(2))
        suffix = "th" if 11 <= number % 100 <= 13 else {1: "st", 2: "nd", 3: "rd"}.get(number % 10, "th")
        formatted_name = f"{prefix} {number}{suffix} {match.group(3)}".strip()
        return formatted_name
    return street_name

# Apply the function to add ordinal suffixes
bp_street_data['Street Name'] = bp_street_data['Street Name'].apply(add_ordinal_suffix)
bp_street_data.loc[bp_street_data['Street Name'].isin(['FORT HAMILTON PARKWA', 'FORT HAMILTON PKW']), 'Street Name'] = 'FORT HAMILTON PARKWAY'
bp_street_data.loc[bp_street_data['Street Name'].isin(['MC DONALD AVENUE', 'MACDONALD AVENUE', 'MAC DONALD AVENUE']), 'Street Name'] = 'MCDONALD AVENUE'

print(bp_street_data)

                 Street Name  Service Calls Count
0              OCEAN PARKWAY                  477
1        CONEY ISLAND AVENUE                  380
2                18th AVENUE                  285
3            MCDONALD AVENUE                  224
4                62nd STREET                  198
5      FORT HAMILTON PARKWAY                  165
6         NEW UTRECHT AVENUE                  165
7                13th AVENUE                  160
8              CHURCH AVENUE                  148
9                   AVENUE M                  148
10               66th STREET                  135
11            WEBSTER AVENUE                  127
12               61st STREET                  124
13            CORTELYOU ROAD                  122
14                  AVENUE O                  121
15             FOSTER AVENUE                  117
16               64th STREET                  116
17               BAY PARKWAY                  116
18                  AVENUE J                  114
19               20th AVENUE                  109
20               12th AVENUE                  107
21               14th AVENUE                  101
22               59th STREET                  100
23               11th AVENUE                   93
24               63rd STREET                   92
25               65th STREET                   90
26               17th AVENUE                   89
27               DAHILL ROAD                   88
28           EAST 9th STREET                   88
29                  AVENUE N                   86
30           EAST 8th STREET                   83
31              OCEAN AVENUE                   82
32           EAST 5th STREET                   81
33           EAST 3rd STREET                   77
34           EAST 2nd STREET                   76
35               16th AVENUE                   76
36           EAST 7th STREET                   75
37               56th STREET                   74
38                  AVENUE H                   71
39               60th STREET                   69
40             TEHAMA STREET                   65
41             DITMAS AVENUE                   64
42               15th AVENUE                   63
43          BAY RIDGE AVENUE                   62
44           EAST 4th STREET                   55
45            STRATFORD ROAD                   55
46                  AVENUE C                   55
47               50th STREET                   54
48             BEVERLEY ROAD                   54
49          EAST 14th STREET                   53
50          EAST 12th STREET                   48
51                  AVENUE P                   47
52               40th STREET                   45
53               41st STREET                   45
54          EAST 10th STREET                   44
55               67th STREET                   44
56              CATON AVENUE                   43
57               10th AVENUE                   43
58          PARKVILLE AVENUE                   42
59          EAST 15th STREET                   42
60                  AVENUE I                   42
61               68th STREET                   42
62               52nd STREET                   41
63          GREENWOOD AVENUE                   41
64          EAST 17th STREET                   41
65            ALBEMARLE ROAD                   40
66               58th STREET                   39
67                  AVENUE L                   39
68               51st STREET                   39
69               57th STREET                   38
70          EAST 13th STREET                   38
71       FT HAMILTON PARKWAY                   38
72               39th STREET                   37
73               23rd AVENUE                   35
74               21st AVENUE                   35
75               54th STREET                   35
76               ARGYLE ROAD                   35
77          EAST 18th STREET                   34
78          EAST 16th STREET                   33
79          EAST 19th STREET                   33
80               55th STREET                   31
81               44th STREET                   31
82               19th AVENUE                   30
83               42nd STREET                   29
84                  AVENUE K                   28
85               43rd STREET                   28
86               53rd STREET                   27
87               36th STREET                   24
88            ELMWOOD AVENUE                   24
89               45th STREET                   24
90               46th STREET                   23
91          WESTMINSTER ROAD                   23
92           CHESTNUT AVENUE                   23
93               71st STREET                   23
94               49th STREET                   22
95              BEVERLY ROAD                   22
96         VANDERBILT STREET                   22
97               FRIEL PLACE                   21
98               48th STREET                   21
99            NEWKIRK AVENUE                   20
100           CHESTER AVENUE                   20
101              19th STREET                   19
102          EAST 2nd STREET                   19
103            GLENWOOD ROAD                   19
104              38th STREET                   19
105              72nd STREET                   19
106          BAYRIDGE AVENUE                   18
107              CATON PLACE                   17
108          WEST 7th STREET                   17
109              73rd STREET                   16
110              37th STREET                   16
111          MCDONALD AVENUE                   16
112              74th STREET                   15
113              47th STREET                   15
114              24th AVENUE                   14
115          LAWRENCE AVENUE                   14
116          PROSPECT AVENUE                   14
117    FORT HAMILTON PARKWAY                   14
118  PROSPECT PARK SOUTHWEST                   13
119            LOCUST AVENUE                   12
120           SHERMAN STREET                   12
121              TABOR COURT                   11
122               RUGBY ROAD                   11
123              18th STREET                   11
124          EAST 9th STREET                   11
125          WEST 4th STREET                   11
126            LOUISA STREET                   11
127          EAST 5th STREET                   11
128              70th STREET                   11
129          WEST 5th STREET                   10
130          EAST 3rd STREET                   10
131        BAY RIDGE PARKWAY                    9
132          WEST 8th STREET                    9
133             MINNA STREET                    9
134              SETON PLACE                    8
135            SEELEY STREET                    8
136              10th AVENUE                    8
137              20th STREET                    8
138         WEST 10th STREET                    8
139    FORT HAMILTON PARKWAY                    7
140               ELM AVENUE                    6
141          EAST 7th STREET                    6
142          DORCHESTER ROAD                    6
143                 AVENUE F                    6
144         WEST 10th STREET                    6
145              16th STREET                    6
146              35th STREET                    5
147             KERMIT PLACE                    5
148           MATTHEWS COURT                    5
149          OVINGTON AVENUE                    5
150            TERRACE PLACE                    5
151             DURYEA COURT                    5
152             TURNER PLACE                    5
153          WEST 3rd STREET                    4
154          EAST 4th STREET                    4
155     FORT HAMILTON AVENUE                    4
156         WEST 11th STREET                    4
157         EAST 10th STREET                    3
158          WEST 9th STREET                    3
159           HINCKLEY PLACE                    3
160              17th STREET                    3
161              69th STREET                    3
162             CLARA STREET                    3
163          EAST 8th STREET                    3
164          MCDONALD AVENUE                    3
165             RYDER AVENUE                    3
166         WEST 12th STREET                    2
167          WEST 5th STREET                    2
168              BILLS PLACE                    2
169              REEVE PLACE                    2
170              75th STREET                    2
171          CONEY IS AVENUE                    2
172                49th ROAD                    2
173          WALLASTON COURT                    2
174          WEST 2nd STREET                    2
175             RODER AVENUE                    2
176          ALBERMARLE ROAD                    2
177     FORT HAMILTN PARKWAY                    1
178            WALDORF COURT                    1
179              WALSH COURT                    1
180         MARLBOROUGH ROAD                    1
181          MCDONALD AVENUE                    1
182              LEWIS PLACE                    1
183             KOLBERT PARK                    1
184            FARRAGUT ROAD                    1
185               BAY AVENUE                    1
186               9th AVENUE                    1
187     OLD NEW UTRECHT ROAD                    1
188           OVINGTON COURT                    1
189         BAYRIDGE PARKWAY                    1
190          WEST 6th STREET                    1
191          WEST 3rd STREET                    1
192          WEST 7th STREET                    1
193          WEST 4th STREET                    1
194          WEST 1st STREET                    1
195         WILLINGTON COURT                    1

In [39]:
#add street coordinates
import geopy
from geopy.geocoders import Nominatim
import pandas as pd
import time


# Initialize geocoder
geolocator = Nominatim(user_agent="trash_route_optimizer")

# Function to get coordinates
def get_coordinates(street_name):
    try:
        location = geolocator.geocode(street_name + ", Brooklyn, NY")
        return (location.latitude, location.longitude) if location else (None, None)
    except:
        return (None, None)

# Apply geocoding
bp_street_data['Coordinates'] = bp_street_data['Street Name'].apply(get_coordinates)
time.sleep(0.1)  # Add delay to avoid hitting rate limits


# Now, print the entire DataFrame
print(bp_street_data)

                 Street Name  Service Calls Count  \
0              OCEAN PARKWAY                  477
1        CONEY ISLAND AVENUE                  380
2                18th AVENUE                  285
3            MCDONALD AVENUE                  224
4                62nd STREET                  198
5      FORT HAMILTON PARKWAY                  165
6         NEW UTRECHT AVENUE                  165
7                13th AVENUE                  160
8              CHURCH AVENUE                  148
9                   AVENUE M                  148
10               66th STREET                  135
11            WEBSTER AVENUE                  127
12               61st STREET                  124
13            CORTELYOU ROAD                  122
14                  AVENUE O                  121
15             FOSTER AVENUE                  117
16               64th STREET                  116
17               BAY PARKWAY                  116
18                  AVENUE J                  114
19               20th AVENUE                  109
20               12th AVENUE                  107
21               14th AVENUE                  101
22               59th STREET                  100
23               11th AVENUE                   93
24               63rd STREET                   92
25               65th STREET                   90
26               17th AVENUE                   89
27               DAHILL ROAD                   88
28           EAST 9th STREET                   88
29                  AVENUE N                   86
30           EAST 8th STREET                   83
31              OCEAN AVENUE                   82
32           EAST 5th STREET                   81
33           EAST 3rd STREET                   77
34           EAST 2nd STREET                   76
35               16th AVENUE                   76
36           EAST 7th STREET                   75
37               56th STREET                   74
38                  AVENUE H                   71
39               60th STREET                   69
40             TEHAMA STREET                   65
41             DITMAS AVENUE                   64
42               15th AVENUE                   63
43          BAY RIDGE AVENUE                   62
44           EAST 4th STREET                   55
45            STRATFORD ROAD                   55
46                  AVENUE C                   55
47               50th STREET                   54
48             BEVERLEY ROAD                   54
49          EAST 14th STREET                   53
50          EAST 12th STREET                   48
51                  AVENUE P                   47
52               40th STREET                   45
53               41st STREET                   45
54          EAST 10th STREET                   44
55               67th STREET                   44
56              CATON AVENUE                   43
57               10th AVENUE                   43
58          PARKVILLE AVENUE                   42
59          EAST 15th STREET                   42
60                  AVENUE I                   42
61               68th STREET                   42
62               52nd STREET                   41
63          GREENWOOD AVENUE                   41
64          EAST 17th STREET                   41
65            ALBEMARLE ROAD                   40
66               58th STREET                   39
67                  AVENUE L                   39
68               51st STREET                   39
69               57th STREET                   38
70          EAST 13th STREET                   38
71       FT HAMILTON PARKWAY                   38
72               39th STREET                   37
73               23rd AVENUE                   35
74               21st AVENUE                   35
75               54th STREET                   35
76               ARGYLE ROAD                   35
77          EAST 18th STREET                   34
78          EAST 16th STREET                   33
79          EAST 19th STREET                   33
80               55th STREET                   31
81               44th STREET                   31
82               19th AVENUE                   30
83               42nd STREET                   29
84                  AVENUE K                   28
85               43rd STREET                   28
86               53rd STREET                   27
87               36th STREET                   24
88            ELMWOOD AVENUE                   24
89               45th STREET                   24
90               46th STREET                   23
91          WESTMINSTER ROAD                   23
92           CHESTNUT AVENUE                   23
93               71st STREET                   23
94               49th STREET                   22
95              BEVERLY ROAD                   22
96         VANDERBILT STREET                   22
97               FRIEL PLACE                   21
98               48th STREET                   21
99            NEWKIRK AVENUE                   20
100           CHESTER AVENUE                   20
101              19th STREET                   19
102          EAST 2nd STREET                   19
103            GLENWOOD ROAD                   19
104              38th STREET                   19
105              72nd STREET                   19
106          BAYRIDGE AVENUE                   18
107              CATON PLACE                   17
108          WEST 7th STREET                   17
109              73rd STREET                   16
110              37th STREET                   16
111          MCDONALD AVENUE                   16
112              74th STREET                   15
113              47th STREET                   15
114              24th AVENUE                   14
115          LAWRENCE AVENUE                   14
116          PROSPECT AVENUE                   14
117    FORT HAMILTON PARKWAY                   14
118  PROSPECT PARK SOUTHWEST                   13
119            LOCUST AVENUE                   12
120           SHERMAN STREET                   12
121              TABOR COURT                   11
122               RUGBY ROAD                   11
123              18th STREET                   11
124          EAST 9th STREET                   11
125          WEST 4th STREET                   11
126            LOUISA STREET                   11
127          EAST 5th STREET                   11
128              70th STREET                   11
129          WEST 5th STREET                   10
130          EAST 3rd STREET                   10
131        BAY RIDGE PARKWAY                    9
132          WEST 8th STREET                    9
133             MINNA STREET                    9
134              SETON PLACE                    8
135            SEELEY STREET                    8
136              10th AVENUE                    8
137              20th STREET                    8
138         WEST 10th STREET                    8
139    FORT HAMILTON PARKWAY                    7
140               ELM AVENUE                    6
141          EAST 7th STREET                    6
142          DORCHESTER ROAD                    6
143                 AVENUE F                    6
144         WEST 10th STREET                    6
145              16th STREET                    6
146              35th STREET                    5
147             KERMIT PLACE                    5
148           MATTHEWS COURT                    5
149          OVINGTON AVENUE                    5
150            TERRACE PLACE                    5
151             DURYEA COURT                    5
152             TURNER PLACE                    5
153          WEST 3rd STREET                    4
154          EAST 4th STREET                    4
155     FORT HAMILTON AVENUE                    4
156         WEST 11th STREET                    4
157         EAST 10th STREET                    3
158          WEST 9th STREET                    3
159           HINCKLEY PLACE                    3
160              17th STREET                    3
161              69th STREET                    3
162             CLARA STREET                    3
163          EAST 8th STREET                    3
164          MCDONALD AVENUE                    3
165             RYDER AVENUE                    3
166         WEST 12th STREET                    2
167          WEST 5th STREET                    2
168              BILLS PLACE                    2
169              REEVE PLACE                    2
170              75th STREET                    2
171          CONEY IS AVENUE                    2
172                49th ROAD                    2
173          WALLASTON COURT                    2
174          WEST 2nd STREET                    2
175             RODER AVENUE                    2
176          ALBERMARLE ROAD                    2
177     FORT HAMILTN PARKWAY                    1
178            WALDORF COURT                    1
179              WALSH COURT                    1
180         MARLBOROUGH ROAD                    1
181          MCDONALD AVENUE                    1
182              LEWIS PLACE                    1
183             KOLBERT PARK                    1
184            FARRAGUT ROAD                    1
185               BAY AVENUE                    1
186               9th AVENUE                    1
187     OLD NEW UTRECHT ROAD                    1
188           OVINGTON COURT                    1
189         BAYRIDGE PARKWAY                    1
190          WEST 6th STREET                    1
191          WEST 3rd STREET                    1
192          WEST 7th STREET                    1
193          WEST 4th STREET                    1
194          WEST 1st STREET                    1
195         WILLINGTON COURT                    1

                                  Coordinates
0                     (40.576312, -73.968501)
1                  (40.58894935, -73.9604796)
2                     (40.620671, -73.990414)
3    (40.637986558750356, -73.97880335279076)
4                     (40.626472, -73.996895)
5                     (40.650782, -73.975776)
6                     (40.624842, -73.996353)
7     (40.64118524016682, -73.98570875022651)
8                   (40.6507967, -73.9495439)
9                    (40.6178971, -73.959474)
10     (40.61722057081447, -73.9886409571793)
11    (40.63220931770076, -73.97212795752549)
12   (40.622221914792526, -73.98915458899567)
13                    (40.640927, -73.963891)
14    (40.61278012254356, -73.96074880244015)
15   (40.648465706316834, -73.90548857403303)
16   (40.633327398427404, -74.01206555093226)
17                    (40.611815, -73.981848)
18                    (40.625039, -73.960803)
19                     (40.61741, -73.985026)
20    (40.62817451778585, -74.00282893730666)
21    (40.61104881533592, -74.01347070776737)
22                    (40.641362, -74.017881)
23    (40.62552371889601, -74.00916924746014)
24    (40.63947462830618, -74.02073331750209)
25    (40.63996688831699, -74.02463380391396)
26    (40.60406958752811, -74.00956298584245)
27    (40.62347224513222, -73.97683359914377)
28    (40.63042211627917, -73.96820718097923)
29                   (40.6151399, -73.974197)
30    (40.59848769823345, -73.96310569070802)
31     (40.61881440947427, -73.9550869070974)
32    (40.60001064166802, -73.96728664223299)
33    (40.62518318630076, -73.97395314740862)
34    (40.59300418618101, -73.96880184050482)
35    (40.61790010898612, -73.99914868475997)
36     (40.59389969547318, -73.9633340755548)
37    (40.63293608738389, -73.99922157158721)
38                     (40.62927, -73.961639)
39   (40.641412983113746, -74.01936261020087)
40      (40.6440345427418, -73.9834060258162)
41                    (40.636119, -73.978172)
42    (40.61296435124748, -74.00789283292835)
43                  (40.6347733, -74.0234269)
44    (40.61941505354934, -73.97191533204456)
45   (40.637546168353644, -73.96752041073398)
46    (40.64055145506308, -73.97695944493712)
47                    (40.6360702, -73.99482)
48                    (40.644031, -73.964492)
49   (40.598129200236166, -73.95721731618808)
50    (40.61509677602501, -73.96231984653596)
51                    (40.608944, -73.973022)
52                (40.65524375, -74.01211825)
53   (40.654770314746486, -74.01273463122212)
54    (40.60616645090467, -73.96272876718461)
55    (40.61666841316448, -73.98921450401932)
56   (40.647806450000004, -73.97499020000001)
57   (40.632831816549455, -74.00515423630002)
58    (40.63279748638286, -73.96776464349936)
59   (40.618257687453735, -73.96008400536745)
60                    (40.625322, -73.976127)
61     (40.6127945056941, -73.98432360398203)
62     (40.65012235918405, -74.0216009595856)
63     (40.6502449318398, -73.97884487234066)
64   (40.610080476253884, -73.95660346778467)
65    (40.64640861231519, -73.96765035135788)
66    (40.64506720429956, -74.02241061048512)
67   (40.619999363765096, -73.96412955152591)
68     (40.626900407799404, -73.981687753141)
69   (40.620416411619836, -73.98001488260292)
70     (40.6280415006702, -73.96382609636693)
71                    (40.650782, -73.975776)
72   (40.653201815047176, -74.00712192791842)
73    (40.61535768812834, -73.97622436053787)
74   (40.597876630440204, -74.00168232123147)
75                (40.64422815, -74.01490435)
76    (40.64401923684365, -73.96685200005643)
77    (40.621917307524036, -73.9578613157604)
78    (40.58393998636823, -73.95263779570098)
79   (40.589797660985546, -73.95081448014489)
80                  (40.6315301, -73.9954466)
81   (40.640841573399605, -73.99419396628493)
82    (40.61855091717615, -73.98733506849214)
83   (40.634215121032554, -73.98020924842818)
84   (40.624757407572986, -73.94311180097456)
85   (40.633654038982115, -73.98078647648269)
86                    (40.645069, -74.014034)
87                    (40.655144, -74.003549)
88    (40.62729271250205, -73.97378155159903)
89                    (40.648939, -74.010006)
90    (40.632622086424156, -73.9836066432453)
91    (40.63275982769409, -73.96566745371186)
92                 (40.6186768, -73.95960455)
93                  (40.6193283, -73.9989445)
94   (40.636622949563716, -73.99475219064942)
95                  (40.6451265, -73.9489324)
96    (40.65227495396869, -73.97937679547674)
97    (40.64720638494685, -73.97228221462098)
98    (40.63746096992172, -73.99464174706775)
99                  (40.6399641, -73.9483922)
100  (40.643655030646876, -73.98387041525733)
101                  (40.6650017, -73.996456)
102                   (40.59972, -73.9700727)
103                 (40.6352595, -73.9274359)
104                 (40.6435889, -73.9896864)
105                  (40.635405, -74.0349103)
106                 (40.6354374, -74.0263444)
107                 (40.6494531, -73.9734257)
108                  (40.596483, -73.9785124)
109                 (40.6292771, -74.0191602)
110                 (40.6440728, -73.9889557)
111                 (40.6402194, -73.9792365)
112                   (40.628702, -74.019701)
113                 (40.6274569, -73.9766848)
114                 (40.6009289, -73.9876532)
115                 (40.6289728, -73.9770891)
116                   (40.665414, -73.992872)
117                   (40.650782, -73.975776)
118                 (40.6608637, -73.9795836)
119                  (40.6186177, -73.962043)
120                 (40.6522614, -73.9740269)
121                 (40.6274832, -74.0001192)
122                 (40.6467346, -73.9664194)
123                 (40.6604896, -73.9869901)
124                 (40.5965998, -73.9617991)
125                    (40.60071, -73.976339)
126                 (40.6425752, -73.9830297)
127                 (40.6193774, -73.9709603)
128                 (40.6149694, -73.9909445)
129                   (40.601263, -73.977388)
130                 (40.6261489, -73.9741347)
131                 (40.6259102, -74.0167113)
132                 (40.5760511, -73.9766199)
133                   (40.645945, -73.982611)
134                 (40.6300398, -73.9750473)
135                 (40.6553628, -73.9742991)
136                 (40.6440198, -73.9935287)
137                 (40.6645876, -73.9972638)
138                 (40.6031856, -73.9826329)
139                   (40.650782, -73.975776)
140                  (40.6178971, -73.959474)
141                 (40.5980711, -73.9641274)
142                   (40.639672, -73.963186)
143                  (40.6334749, -73.974702)
144                 (40.6031856, -73.9826329)
145                 (40.6678766, -73.9956541)
146                 (40.6414934, -73.9816779)
147                 (40.6483991, -73.9736588)
148                 (40.6423723, -73.9695447)
149                 (40.6303466, -74.0164788)
150                 (40.6556117, -73.9757985)
151                 (40.6212296, -73.9972968)
152                 (40.6452986, -73.9707069)
153                  (40.6008202, -73.975431)
154                 (40.6192335, -73.9718794)
155                 (40.6284464, -74.0118496)
156                 (40.6030483, -73.9835485)
157                  (40.627139, -73.9666391)
158                 (40.6755319, -74.0005674)
159                 (40.6445547, -73.9701666)
160                 (40.6648667, -73.9932017)
161                 (40.6223252, -74.0016159)
162                 (40.6432104, -73.9834597)
163                 (40.6470252, -73.9724664)
164                 (40.6402194, -73.9792365)
165                 (40.6133368, -73.9715558)
166                 (40.5777692, -73.9796177)
167                   (40.601263, -73.977388)
168                  (40.6460377, -73.982674)
169                 (40.6534409, -73.9742757)
170                  (40.672347, -73.8606598)
171                 (40.5833255, -73.9600095)
172                              (None, None)
173                 (40.6195735, -73.9944755)
174                  (40.6083994, -73.975901)
175                 (40.6155528, -73.9654693)
176                              (None, None)
177                              (None, None)
178   (40.63152487322116, -73.96289659702984)
179   (40.62814740827114, -73.97356677147106)
180   (40.63380685828121, -73.96307753066735)
181  (40.637986558750356, -73.97880335279076)
182   (40.64310299310418, -73.96923449923494)
183           (40.62003795, -73.957996652269)
184   (40.63682717130214, -73.93917710127785)
185      (40.61760315859996, -73.95573964773)
186                 (40.6463249, -73.9943519)
187  (40.640702785129974, -73.98323898826659)
188    (40.62060996824782, -73.9953319693717)
189                              (None, None)
190   (40.57940066863835, -73.97468870683994)
191   (40.60027450195056, -73.97532770562857)
192    (40.61074749119292, -73.9812227538259)
193   (40.60669165505805, -73.97746914557034)
194   (40.59239990772116, -73.97152712228208)
195                              (None, None)

In [44]:
bp_street_data = bp_street_data[bp_street_data['Coordinates'] != (None, None)]

In [41]:
###debugging purposes only####

from geopy.geocoders import Nominatim

# Initialize geocoder
geolocator = Nominatim(user_agent="trash_route_optimizer")

# Test address
address = "49th RD	, Brooklyn, NY"
location = geolocator.geocode(address)

if location:
    print(f"Address: {address}")
    print(f"Latitude: {location.latitude}, Longitude: {location.longitude}")
else:
    print("Address not found.")

Address: 49th RD	, Brooklyn, NY
Latitude: 40.5856176, Longitude: -73.9887562

In [1]:
import folium
from folium.plugins import HeatMap
import pandas as pd

# Sample data: Replace with your actual data
# Ensure 'Coordinates' contains tuples of (latitude, longitude)

# Initialize map centered on Borough Park
map_center = [40.6293, -73.9866]  # Central point for Borough Park, Brooklyn
m = folium.Map(location=map_center, zoom_start=15)


# Set a base size for the markers
base_radius = 5

# Find the max trash count to scale marker size
max_trash_count = bp_street_data['Service Calls Count'].max()

# Option 1: Plot markers for trash density with size proportional to trash count
for idx, row in bp_street_data.iterrows():
    # Scale the radius based on the trash count, ensuring the radius is proportional to the count
    scaled_radius = base_radius + (row['Service Calls Count'] / max_trash_count) * 20  # Adjust 20 to scale the size more or less

    folium.CircleMarker(
        location=row['Coordinates'],
        radius=scaled_radius,  # size of the circle, scaled by trash count
        color='blue',  # marker color
        fill=True,
        fill_color='blue',
        fill_opacity=0.6,
        popup=f"{row['Street Name']} - Trash Count: {row['Service Calls Count']}"
    ).add_to(m)

# Option 2: Create a heatmap based on trash density
# For heatmap, we need the coordinates and weights (trash density)
heat_data = [[coord[0], coord[1], count] for coord, count in zip(bp_street_data['Coordinates'], bp_street_data['Service Calls Count'])]

HeatMap(heat_data).add_to(m)
m

NameError: name 'bp_street_data' is not defined